body {
  overflow-x: hidden;
}
.slide-panel {
  position: absolute;
  top: 0;
  left: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  z-index: 6000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.slide-panel.slide-in {
  left: 0;
}
.slide-panel .close-panel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 5px 15px;
  cursor: pointer;
}
.slide-panel-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5999;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.slide-panel-overlay.slide-in {
  display: block;
}